/*clases -> class -> .container-fluid
	Pueden reperitse por documento
ID -> id -> #principal
	ID no se repite por documento
Etiquetas -> <> -> body, nav
Sintaxis:
		Selector {
			aributo:valor;
			//"Si es cadena de texto, se usaran comillas"	
			}
Selector1{
	atributo1: "valor";
	atributo2: 2;
	atributo3: #ddd;
}
/*header{}
header nav{}
header nav ul{}
header nav ul li{}
header nav ul li a{}*/
/*//si un contenedor central tiene hijos, tratar de que no sean mas de 2 escalares*/
/*//al guardar archivo en jpg, que sea progresivo*/
body{	font-family: 'Raleway', sans-serif;}
header{background: url("../img/background_header.jpg") no-repeat; height: 750px; background-size:cover;}
#logotipo{margin-top: 40px;}
header .nav{justify-content: flex-end;}
header .nav-lik{
	font-size:13px; color: #fff; padding-top: 40px; 
} 
header .nav-link:hover{background: #fff; color: #31344e}
#text1{font-size:  65px;font-weight: bold;margin-top: 155px;color:#fff; text-align: center;}
#text2 {font-size:  65px;font-weight: bold;color: #fff; text-align: center;}
#text3 {font-size:  22px; color: #fff; text-align: center;}
#text4 {font-size:  22px;color: #fff; text-align: center;}
#boton{margin-top: 80px;}
